- unless @movie.errors.empty?
  #warning
    Errors prevented this movie from being #{controller.action_name}d:
    %ul
      - @movie.errors.full_messages.each do |error|
        %li= error


%div{:style => "float:left; padding: 10px;"}= label :movie, :title, 'Title : ' 
%div{:style => "float:left; padding: 10px;"}= text_field :movie, 'title'

%div{:style => "float:left; padding: 10px;"}= label :movie, :rating, 'Rating'
%div{:style => "float:left; padding: 10px;"}= select :movie, :rating, Movie.all_ratings

%div{:style => "float:left; padding: 10px;"}= label :movie, :release_date, 'Released On'
%div{:style => "float:left; padding: 10px;"}= date_select :movie, :release_date, start_year: 1930
%div
  = label :movie, :description, 'Description'
  = text_area :movie, :description, size: "27x7"


