-#  This file is app/views/movies/index.html.haml
%h1 All Movies

%table#search
  %thead
    %tr
      %th Number
      %th Movie Title
      %th Rating
      %th Release Date
      %th More Info
      
  %tbody
    - @search.each.with_index(1) do |movie, index|
      %tr
        %td= index
        %td= movie['original_title']
        %td= ''
        %td= movie['release_date']
        %td= movie['overview']
        