%h1 All Review #{@movie.title}

%h5

  -if @moviegoer_reviews
    = link_to 'Show Review', movie_review_path(@movie, :id),  class: 'btn'
  -else
    = link_to 'Add Review', new_movie_review_path(@movie),  class: 'btn'

- @movie_reviews.each do |t|
  %h1
    Name:
    =Moviegoer.find(t.moviegoer.id).name
  %div
  
  Potatoes:
  = t.potatoes
  %div
  
  Comments:
  = t.comments
  %div

%h5
  = link_to 'Back to Movie Details', movie_path(@movie),  class: 'btn'