!!! 5
%html
  %head
    %title RottenPotatoes!
    = stylesheet_link_tag 'application'
    = javascript_pack_tag 'application'
    = csrf_meta_tags

  %body
    %h1
     
    %h3#banner
      = link_to 'RottenPotatoes', movies_path
    %h4
      = render :partial => 'movies/login_form'
    - if flash[:notice]
      #notice.message= flash[:notice]
    - elsif flash[:warning]
      #warning.message= flash[:warning]
    #main
      = yield

    
    
